.player_icons
{
	background-image: -webkit-linear-gradient(top,  rgb(209, 204, 204), rgb(3, 3, 3));
	padding: 7px;
	display: inline-block;
	border: 1px solid;
	width: 20px;
}
.player_icons:hover{
	color:#33b5e5 !important;
	background-image: -webkit-linear-gradient(top, rgb(223, 223, 223), rgb(255, 255, 255) );

}
.player_icons:focus{
	text-decoration: none;
	color:#33b5e5 !important;
}

.player_icons_contianer{
	text-align: center;
	display: inline-block;
	margin: 0px 10px;
	float: left;
}
.player_time{
	float: left;
	font-size: 10px;
	margin-top: 4px;
	width:50px;
}
#progress{
	width: 250px;
	height: 20px;
	background-color: lightgoldenrodyellow;
	display: inline-block;
	margin-bottom: auto !important;
	float: left;
}

#progress:hover{
	cursor: pointer;
}
#buffering
{
	display: block;
	height: 20px;
	background-color: rgb(129, 210, 243);
}
#playing{
	display: block;
	height: 20px;
	position: absolute;
	top: 52px;
}

#volume{
	-webkit-appearance: none;
	width: 130px;
	height: 5px;
	margin-left: 5px;
	background: lightgoldenrodyellow;
}
#volume:hover{
	cursor: pointer;
}
.volume_container{
	margin: 6px 0px 0px 10px;
	float: left;
}

.volume_icon
{
	display: inline-block;
	width: 13px;
	cursor: pointer;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: skyblue;
    width: 7px;
    height: 15px;
    border-radius: 10px;
}

.song_name_container
{
	display: inline-block;
	margin-top: 10px;
	color: white;
	letter-spacing: 1px;
	font-size: 13px;
	width: 100%;
	text-align: center;
	height: 35px;

}
.popup{
	overflow: hidden;
}
body{
	min-height: auto !important;
	overflow-x: hidden
}

.panel{
	height: 245px;
	width:400px;
}

a:hover{
	text-decoration: none !important;
}

#nowplaying{
	/*max-height: 250px !important;*/
	padding: 5px 0px;
}
#results, #np_container{
	overflow-x: hidden;
	overflow-y: auto;
	width:395px;
}
#results{
	max-height: 210px;
}
#np_container{
	max-height: 240px !important
}
.navigators{
	text-align: right;
	padding: 4px 20px;
}

.album_song_list_wrapper{
	max-height: 185px;
	overflow-x: hidden;
	width: 395px;
	overflow-y: auto;
	margin-top:5px;	
}

.subnav .nav {
margin-bottom: 0;
}

.subnav .nav > li > a {
margin: 0;
padding-top: 11px;
padding-bottom: 11px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
border-bottom: 1px solid transparent;
}

.nav-pills > li {
	width:50%;
	text-align: center;
}
#search{
	height:15px;
}
.search_text_wrapper{
	text-align: center;
	margin: 10px 0px;
}

#results li, #album li, #nowplaying li{
	background-color: grey;
	color: white;
	padding: 2px 20px 2px 20px;
	margin-bottom: 5px;
	border-radius: 5px;
}


#nowplaying li:hover .playsong, #results li:hover span, #album li:hover span{
	color: rgb(15, 226, 255);
}
#results ul, #album ul, #nowplaying ul{
	list-style: none;
	margin:0 10px 10px 10px;
}

#results li a, #nowplaying li > a{
	float: right;
	margin-top: 2px;
	margin-left: 4px;
}

#nowplaying li .playsong{
	color:white;
	display: block;
}
#nowplaying li .playsong.playing{
	color:greenyellow;
	display: block;
}

#results li span:first-child{
	display: inline-block;
	width: 280px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

 #nowplaying li span a{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
 }

 #nowplaying li span{
 	display: inline-block;
	width: 290px;
 }

#album input[type='checkbox']{
	margin: -2px 3px 0px 0px;
}

#results{
	margin-right: 5px
}


#album .back_container{
	display: inline-block;
	float: left;
	margin: 0px 25px;
}

#album #album_back{
	padding: 0px 15px;
	background: grey;
	border-radius: 3px;

}
#album li label{
	color: white;
}

#album #album_name{
	display: inline-block;
	margin: 0px !important;
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

body *::-webkit-scrollbar-track{background-color:transparent;-webkit-border-radius:10px;width: 50px;}
body *::-webkit-scrollbar-thumb:vertical{height:50px;background-color:grey;-webkit-border-radius:10px;}
body *::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:grey;-webkit-border-radius:10px;}
body *::-webkit-scrollbar-thumb:hover{height:50px;background-color:white;-webkit-border-radius:10px;cursor:pointer;}
body *::-webkit-scrollbar{width:8px;height:9px;}
body *::-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:white;}

.purr{
	padding: 3px 14px 3px 14px !important;
	display: none;
	position: fixed;
	background-color: rgb(29, 179, 255) !important;
	bottom: 0px;
	right: 10px;
	box-shadow: 0px 0px 15px rgb(29, 183, 255);
	font-weight: bold;
	color: rgb(51, 51, 48) !important;
}
@font-face {
  font-family: "t2";
  src: url(../font/t2.ttf);
  font-weight:400;
}

.logo
{
	font-family: "t2";
	padding: 15px 0px;
	font-size: 35px;
	letter-spacing: 2px;
	color: skyblue;
}
.logo .beta{
	font-family: 'Droid Sans', sans-serif;
	font-size: 9px;
	background: grey;
	padding: 1px 3px;
	border-radius: 2px;
	color: white;
	position: absolute;
	margin-top: -5px;
	text-align: center;
	vertical-align: top;
	line-height: 10px;
	margin-left: 4px;
}
.logo .like {
	padding: 0px 15px;
}

.thanks
{
	text-align: center;
}

.loading{
	background: url("../images/loading.gif") no-repeat center;
	position: absolute;
	height: 210px;
	width: 395px;
}

.audio_loading{
	background: url("../images/audio_loading.gif") no-repeat center;
	width: 51px;
	height: 20px;
}
.audio_loading *{
	display: none;
}

.no_results
{
	color: maroon;
}

.green_header{
	background-color: green;
}
.red_header{
	background-color: maroon;
}	

.loop_container{
	float: left;
	margin: 5px 0px 0px 6px;
}
.shuffle_contianer{
	float: left;
	margin: 6px 0px 0px 6px;	
}
.loop_container.active, .shuffle_contianer.active{
	color: #33b5e5;
}

.loop_container:hover, .shuffle_contianer:hover{
	color: #33b5e5;
	cursor: pointer;
}
.songsCount{
	font-weight: normal;
	font-size: 10px;
	padding: 2px 6px;
	line-height: 13px;
	position: absolute;
	margin-left: 5px;
}	