<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<%= javascript_include_tag "jquery-1.9.1.min.js", "angular.min.js", "jquery-ui", "sortable", "now_playing.js",  "bootstrap.js" %>
		<%= stylesheet_link_tag "bootstrap.css", "font-awesome.css", "popup.css" %>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body ng-app="valayosai">
		<div class="popup">
		
		<div class="logo">
			<span class="like"><iframe id="fb_like_iframe" src="" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe></span>
			<a class="external_link" href="http://www.valayosai.com">வலையோசை<span class="beta">beta<span></a></div>
		<div class="player" ng-controller="VPlayerCtrl">
			<span class="player_icons_contianer">
				<a id="previous" class= "player_icons" href="" ng-click="playPrevious()"><i class="icon-backward icon-large"></i></a>
				<a id="playpause" data-action="play" ng-click="doPlayPause()" class="player_icons" href="" ><i ng-class="playPauseIcon" class="icon-large"></i></a>
				<a id="next" class= "player_icons" href="" ng-click="playNext()"><i class="icon-forward icon-large"></i></a>
			</span>

			<span id="progress" class="progress" ng-click="seekDuration($event)">
				<span id ="buffering" ng-style="bufferingWidth"></span>
				<span id ="playing" class="bar" ng-style="playingWidth"></span>
			</span>
			<span class="player_time" ng-class="loadSongClass">
				<span id="currenttime">{{currentTime}}</span><span>/</span><span id="duration">{{duration}}</span>
			</span>
			<span ng-click="toggleShuffle()" class="shuffle_contianer" ng-class="shuffleActiveClass" title="shuffle playlist">
				<i class="icon-random"></i>
			</span>
			<span ng-click="toggleLoopOne()" class="loop_container" ng-class="loopActiveClass" title="loop playing song">
				<i class="icon-retweet"></i>
			</span>
			<span class="volume_container">
				<span class="volume_icon" title="Mute" ng-click="toggelMuteVolume()"><i ng-class="volumeIcon"></span></i><input id="volume" ng-click="setVolume($event)" type="range" min="0" max="10" value="volume" ng-model="volume" />
			</span>
			<div class="song_name_container"><p id="song_name">{{songName}}</p></div>
		</div>
		<div class="subnav">
			<ul class="nav nav-pills">
				<li ng-class="!showSearch && 'active'"><a ng-click="showSearch = false" href="#search_panel" class="links" id="np_link">Now Playing <span class=" badge badge-info songsCount">{{npSongs.length}}</span></a></li>
				<li ng-class="showSearch && 'active'"><a ng-click="showSearch = true" href="#nowplaying" class="links">Search</a></li>
			</ul>
		</div>
		<div id="search_panel" class="panel" ng-controller="SearchResultCtrl" ng-show="showSearch">
			<div class="search_text_wrapper"><input type="text" id="search" search class="search-query input-large" placeholder="Type Movie/Song name... "/></div>
			<div ng-class="loadingClass"></div>
			<div id="results" ng-show="showResults">
				<ul>
					<li ng-repeat="result in results">
						<span>{{result.displayName()}}</span> 
						<a ng-show="result.isSong($event)" ng-click="addSong(result.id)" href class='addsong' title='Add Song'><i class='icon-plus-sign'></i></a>

						<a href ng-show="!result.isSong($event)" ng-click="addAllSongs(result)" class='addall' title='Add all songs in album'><i class='icon-plus-sign'></i></a>

						<a href ng-show="!result.isSong($event)" ng-click="displayAlbum(result)" class='viewentries' title='View album'><i class='icon-list'></i></a>
					</li>
				</ul>
			</div>
			<div id="album" ng-show="!showResults && showAlbum" >
				<div class="back_container"><a href="" ng-click="showResults = true" id="album_back" title="Back to search result"><i class="icon-chevron-left icon-2"></i></a></div>
				<div>
					<div>
						<h5 id="album_name">{{album.name}}</h5> 
						<a href="" ng-click="addMarkedAlbumSongs()" id="np_add_songs">Add marked</a> |
						<a href="" id="np_add_all" ng-click="addAllAlbumSongs()">Add All</a>
					</div>
					<div class="album_song_list_wrapper">
						<ul>
							<li ng-repeat="song in album.songs">
								<label>
									<input type='checkbox' ng-model="song.checked"/>{{song.name}}
								</label>
							</li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
		<div id="nowplaying" class="panel" ng-controller="NowPlayingCtrl" ng-show="!showSearch">
			<div id="np_container">

				<div class="navigators">
					<a href="{{createPlaylistPopup}}" id="np_create_playlist" ng-click="createPlaylist()" role="button" class="btn btn-primary btn-small" data-toggle="modal">Create Playlist</a>
					<a href id="np_clear_all" ng-click="destroyAll()" title="Trash all songs"><i class="icon-trash"></i></a>
				</div>
				<ul ui-sortable ng-model="npSongs">
					<li ng-repeat="song in npSongs">
						<span>
							<a class='playsong' ng-class="song.state" ng-click="playSong(song.id)" href>{{song.name}} - {{song.movie}}</a>
						</span>
						<a class='remove_song' href='' ng-click="removeSong(song)" data-id="{{song.id}}"><i class='icon-remove-sign'></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="thanks">Thanks to <a class="external_link" href="http://tamiltunes.com"/>TamilTunes.com</a></div>
		<div class="alert purr">{{purr}}</div>
		<div id="need_more" class="modal hide fade" role="dialog" aria-hidden="true">
			<div class="modal-header red_header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="myModalLabel">Not enough songs!</h3>
  			</div>
			<div class="modal-body">
		 		You should have atleast 15 songs in your playlist to create a public playlist. <br>
		 		<small>Just {{15 - npSongs.length}} more song(s) to go..</small>
		 	</div>
		</div>
		<div id="create_playlist" class="modal hide fade" role="dialog" aria-hidden="true" ng-controller="CreatePlaylistCtrl"> 
			<div class="modal-header green_header" >
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="myModalLabel">Name it!</h3>
  			</div>
			<div class="modal-body">
			<label for="playlist_name">Your playlist will be public, so give a meaningful name</label>
			<form class="form-inline" id="create_playlist_form">
			  <fieldset>
			    <div>
			    <input type="text" name="playlist_name" ng-model="playlistName" id="playlist_name">
			    <button type="submit" class="btn btn-primary btn-small" ng-click="createPlaylist()">Submit</button>
			    <div class="alert-error"></div>
			    </div>
			  </fieldset>
			</form>
			</div>
		</div>
		</div>
	</body>
</html>